.primary-background{
    -fx-background-colour: #2a3436;
}

.secondary-background{
    -fx-background-colour: #a9aaa9;
}

.white-background{
    -fx-background-colour: #fff;
}

.button {
    -fx-background-colour: #2a3436;
    -fx-text-fill: #a9aaa9;
    -fx-font-size: 16px;
}

.button.hover {
    -fx-background-colour:#2a3436;
}

.button.pressed {
    -fx-background-colour:#2a3436;
}

.button:focused {
    -fx-border-color: #6c7c76;
}

.table-view .column-header-background {
    -fx-background-color: #3c444c;
}

.table-cell {
    -fx-background-color: #3c4c4a;
    -fx-text-fill: #a9aaa9;
}

.table-row-cell {
    -fx-background-color: #4c545c;
}

.table-row-cell:selected {
    -fx-background-color: #4c5c5c;
}

.table-row-cell:selected .text {
    -fx-fill: #a9aaa9;
}

.pane1 {
    -fx-background-color: #eaebeb;
    -fx-background-radius: 20px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-border-colour: #eaebeb;
}

.pane2 {
    -fx-background-color: #c0c2c2;
    -fx-background-radius: 20px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-border-colour: #c0c2c2;
}

.pane3 {
    -fx-background-color: #969a9a;
    -fx-background-radius: 20px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-border-colour: #969a9a;
}

.pane4 {
    -fx-background-color: #6b7171;
    -fx-background-radius: 20px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-border-colour: #6b7171;
}

.pane5 {
    -fx-background-color: #414848;
    -fx-background-radius: 20px;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-border-colour: #414848;
}